body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}


/* nav section style  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-band {
    display: flex;
    align-items: center;

}

.nav-band-title {
    font-size: 32px;
    font-weight: 700;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.nav-item li {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}

.nav-item li a {
    text-decoration: none;
}

.nav-contact-btn button {
    background-color: #FEA301;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    width: 197px;
    height: 50px;
    border-radius: 12px;
    padding: 10px;
}

/* Header Section  */
header {
    width: 1158.61px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-content: center;

}

.header-title {
    color: black;
    font-size: 56px;
    font-weight: 700;
}

.header-description {
    color: black;
    width: 640px;
    font-weight: 400;
    font-size: 20px;
}

.enroll-btn {
    color: #FFFFFF;
    background-color: black;
    border: 0;
    padding: 10px;
    width: 197px;
    height: 50px;
    border-radius: 12px;
}

/* main style  */

/* Curriculum section style  */

.curriculum {
    background-image: url(assets/bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1160px;
    margin: 60px auto;

}

.curriculum-section-title {
    color: #000000;
    font-weight: 700;
    font-size: 46px;
    text-align: center;
}

.curriculum-items {
    display: flex;
    align-items: center;
    gap: 29px;
    margin-top: 80px;
}

.curriculum-item {
    width: 367px;
    height: 400px;
    border-radius: 18.86px;
    padding: 20px;
}

.curriculum-item img {
    width: 136px;
    display: block;
    margin: 0 auto;
}

.curriculum-item-title {
    color: #202020;
    font-weight: 700;
    font-size: 24.52px;
    text-align: center;
}

.curriculum-item-description {
    font-family: Raleway;
    color: #808080;
    font-weight: 500;
    font-size: 15.09px;
    width: 280px;
    text-align: center;
    margin: 0 auto;
}

.read-more-btn {
    font-weight: 700;
    font-size: 15.09px;
    text-align: center;
    margin-top: 38px;
}

/* Our Stories section  */
.our-stories {
    background:
        linear-gradient(to top, #fea1014b 0%, #FFFFFF 100%), url(assets/bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.sotries-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.story-title {
    color: #000000;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}

.main-item {
    width: 540px;
    height: 630px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.main-item-banner {
    position: relative;
    overflow: hidden;
}

.main-item-banner img {
    width: 100%;
    display: block;
    border-radius: 16px 16px 0 0;
}

.main-item-date {
    background-color: #3CD8E8;
    width: 174.51px;
    height: 47.93px;
    border: 0;
    border-radius: 47.93px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    /* inside image */
    left: 20px;

}



.main-item-date-content {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15.34px;
    margin: 0 auto;
}

.main-item-title {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    /* text-align: center; */
    width: 420px;
    padding-left: 20px;
}

.main-item-descripsion {
    color: #666666;
    font-family: Raleway;
    font-weight: 500;
    font-size: 15.34px;
    width: 400px;
    padding-left: 20px;

}

/* Sub items  */
.sub-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.sub-item {
    width: 290px;
    height: 301px;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 16px;
}

.sub-item-banner {
    position: relative;
    overflow: hidden;
}

.sub-item-banner img {
    display: block;
    border-radius: 16px 16px 0 0;
}

.sub-item-date {
    background-color: #95B226;
    border: 0;
    border-radius: 47.93px;
    width: 150px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 20px;

}

.sub-item-date-content {
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 500;
    font-size: 15px;

}

.sub-item-title {
    color: #000000;
    font-weight: 700;
    font-size: 15px;
    padding-left: 20px;
}

/* Responsive  */



/* samll device  */
@media screen and (max-width: 480px) {

    /* navbar  */
    nav {
        flex-direction: column;
    }

    .nav-item {
        flex-direction: column;
    }

    .nav-contact-btn button {
        text-align: center;
    }

    /* Header  */

    header {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .header-banner {
        order: 1;
    }

    .header-content {
        order: 2;
        gap: 20px;
    }

    .enroll-btn {
        text-align: center;
        margin: 0 auto;
    }

    .header-title {
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        margin: 0 auto;
    }

    .header-description {
        text-align: center;
        width: 300px;
        font-size: 14px;
        font-weight: 500;
        margin: 0 auto;
    }

    .header-banner img {
        width: 300px;

    }

    /* .curriculum  */
    .curriculum {
        width: 100%;

    }

    .curriculum-section-title {
        font-size: 26px;
    }

    .curriculum-items {
        flex-direction: column;
    }

    .curriculum-item {
        width: 320px;
        height: 320px;
        padding: 10px;
    }

    .curriculum-item img {
        width: 92px;
    }

    /* Our Stories  */

    .sotries-items {
        flex-direction: column;
    }

    .main-item {
        width: 350px;
    }

    .main-item-banner img {
        width: 100%;
        height: 300px;
    }

    .main-item-title {
        width: 300px;
        font-size: 24px;
    }

    .main-item-descripsion {
        width: 300px;
    }

    .sub-items {
        gap: 10px;
    }

    .sub-item {
        width: 170px;
        height: 170px;
    }

    .sub-item-banner img {
        width: 100%;
    }

    .sub-item-date {
        width: 100px;
    }

    .sub-item-date-content {
        font-size: 9.13px;
        font-weight: 500;
    }

    .sub-item-title {
        width: 117px;
        font-size: 9.13px;
    }
}





/* mobile device  */
@media screen and (max-width: 768px) {

    /* navbar  */
    nav {
        flex-direction: column;
        justify-content: space-between;
    }

    .header-title {
        font-weight: 700;
        font-size: 32px;
    }

    .header-description {
        font-weight: 500;
        font-size: 14px;
    }

    .header-banner img {
        width: 336px;
    }

    .curriculum-item-title {
        font-size: 16.6px;
    }

    .curriculum-item-description {
        font-size: 10.22px;
    }

    .read-more-btn {
        font-size: 10.22px;
    }
}

/* Tablet  */

@media screen and (min-width: 780px) and (max-width: 1024px) {
    nav {
        width: 100%;
    }
}